{% extends "layout.html" %}

{% block content %}
<h1>Question</h1>
<p>Text: {{ question.question_text }}</p>
<p>Answer: {{ question.question_answer }}</p>
{% if question.options %}
    <h2>Options</h2>
    <ul>
        {% for option in question.options %}
        <li>{{ option }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if question.answer %}
    <h2>Answer</h2>
    <p>{{ question.question_answer }}</p>
{% endif %}
<a href="{{ url_for('decks_bp.single_deck_page', deck_id=deck._id) }}">Back to Deck</a>
{% endblock %}
